<%- include('./includes/header', {title: 'Wesel Motors' }) %>
    <main>


        <section class="bannerst" id="banner-rooper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-text">
                            <div class="main-hosting">
                                <a href="/demo-custom/car-project">Home</a><span><i
                                        class="fa-solid fa-chevron-right"></i></span>
                                <h6><%- vehicle.title %></h6>

                            </div>

                            <h2><%- vehicle.title %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="custom-detail">
            <div class="container">
                <h2><%- vehicle.title %></h2>
            </div>
            <div class="container">
                <div class="row  justify-content-center ">
                    <div class="col-12 col-md-9">
                        <div class="silder-mock">

                            <div class="main-silder-car">
                                <div id="sync1" class="owl-carousel owl-theme">
                                    <% vehicle.images.forEach((item)=> { %>
                                        <div class="item">
                                            <a href="<%- item %>" data-fancybox="gallery" class="fancybox">
                                                <img src="/demo-custom/car-project/<%- item %>" class="img-fluid"
                                                    alt="img">
                                            </a>
                                        </div>
                                        <% }) %>
                                </div>

                                <div id="sync2" class="owl-carousel owl-theme">
<% vehicle.images.forEach((item)=> { %>
                                        <div class="item">
                                            <a href="<%- item %>" data-fancybox="gallery" class="fancybox">
                                                <img src="/demo-custom/car-project/<%- item %>" class="img-fluid"
                                                    alt="img">
                                            </a>
                                        </div>
                                        <% }) %>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 pt-4">
                        <div class="custom-handler">
                            <div class="mainholder">
                                <span>OUR PRICE:</span>
                                <h4>$35 000</h4>
                            </div>
                            <div class="main-black">
                                <p>Included <strong>Taxes</strong> &amp; <strong>Checkup</strong></p>
                            </div>
                            <div class="main-loper">
                                <ul>
                                    <li><a href="#"><img src="/demo-custom/car-project/images/whatsapp.png"
                                                class="img-fluid" alt="img">Chat Via
                                            Whatapps</a></li>
                                    <li><a href="tel:+971585438686"><img
                                                src="/demo-custom/car-project/images/telephone-call.png"
                                                class="img-fluid" alt="img">+971 58 543 8686</a></li>
                                    <li><a href="mailto:Info@Domain.Com">
                                            <img src="/demo-custom/car-project/images/email.png" class="img-fluid"
                                                alt="img"> Message Us </a></li>
                                </ul>
                            </div>
                            <div class="certifcated">
                                <ul>
                                    <li class="main-imgaes">
                                        <img src="/demo-custom/car-project/images/Certified-pre-owned.png"
                                            class="img-fluid" alt="img">
                                    </li>
                                    <li>
                                        <span class="BODY">
                                            BODY</span> <span class="body-1">
                                            SUV

                                        </span>
                                    </li>
                                    <li>
                                        <span class="BODY">
                                            FUEL TYPE</span> <span class="body-1">
                                            Diesel

                                        </span>
                                    </li>
                                    <li>
                                        <span class="BODY">
                                            YEAR</span> <span class="body-1">
                                            2021

                                        </span>
                                    </li>
                                    <li>
                                        <span class="BODY">
                                            TRANSMISSION</span> <span class="body-1">
                                            Automatic

                                        </span>
                                    </li>
                                    <li>
                                        <span class="BODY">
                                            DRIVE</span> <span class="body-1">
                                            4WD

                                        </span>
                                    </li>
                                    <li>
                                        <span class="BODY">
                                            MILEAGE </span> <span class="body-1">
                                            20

                                        </span>
                                    </li>
                                    <li>
                                        <span class="BODY">
                                            FUEL ECONOMY </span> <span class="body-1">
                                            15.3

                                        </span>
                                    </li>

                                </ul>
                            </div>
                            <div class="laster-fuel">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-12 col-md-12">
                                        <div class="ever-loop">
                                            <ul>
                                                <li>
                                                    <h4>
                                                        20
                                                    </h4>
                                                    <span>CITY MPG
                                                    </span>
                                                </li>
                                                <li>
                                                    <img src="/demo-custom/car-project/images/gas-pump.png"
                                                        class="img-fluid" alt="img">
                                                </li>
                                                <li>
                                                    <h4>
                                                        20
                                                    </h4>
                                                    <span>CITY MPG
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-image main-contact">
            <div class="container">
                <div class="mian-from-back">

                    <form action="#" method="post">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <h2 class="theme-h2">Book Now</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center">

                            <div class="col-12 col-md-6">

                                <div class="form-side">
                                    <div class="form-first">
                                        <div class="custom-input">
                                            <label for="">First Name</label>
                                            <input type="text" placeholder="Enter your first name">
                                        </div>
                                        <div class="custom-input">
                                            <label for="">Last Name</label>
                                            <input type="text" placeholder="Enter your last name">
                                        </div>
                                    </div>
                                    <div class="form-first">
                                        <div class="custom-input">
                                            <label for="">Email</label>
                                            <input type="text" placeholder="email@domain.com">
                                        </div>

                                        <div class="custom-input">
                                            <label for="">Phone</label>
                                            <input type="text" placeholder="Phone number">
                                        </div>
                                    </div>
                                    <div class="form-first">
                                        <div class="custom-input">
                                            <label for="">City Name</label>
                                            <input type="text" placeholder="Enter your first name">
                                        </div>
                                        <div class="custom-input">
                                            <label for="">Country Name</label>
                                            <input type="text" placeholder="Enter your last name">
                                        </div>
                                    </div>
                                    <div class="form-checkbox">
                                        <p><input type="checkbox" id="subscribe" name="subscribe">Subscribe and get the
                                            latest updates and offers by Email</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-textarea">
                                    <label for="">
                                        Comments
                                    </label>
                                    <textarea name="message" id="message" cols="40" rows="8"
                                        placeholder="Enter your message here"></textarea>
                                    <div class="form-btn">
                                        <button class="" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </section>





        <%- include('./includes/footer') %>
    </main>